.shadetabs{
padding: 0 px 0;
margin-left: 0;
margin-top: 3px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
padding: 0px 0px;
margin-right: 0px;
border: 0px solid #778;
color: #2d2b2b;
background: white url(bgtabs.gif) top left repeat-x;
}

.shadetabs li a:visited{
color: #2d2b2b;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs li.selected{
position: relative;
top: 3px;
}

.shadetabs li.selected a{ /*selected main tab style */
/*background-image: url(shadeactive.gif);*/
border-bottom-color: white;
}

.shadetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontentstyle{ /*style of tab content oontainer*/
/*border: 0 px solid gray;*/
width: 650px;
margin-bottom: 0em;
padding: 2px;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block!important;
}
}